<ion-view view-title="login">
  <ion-content class="landing">
      <button class="button button-positive facebook-button" ng-click="auth.login()">
        <i class="ion-social-facebook big"></i> Login with facebook
      </button>
  </ion-content>
</ion-view>
