<ion-view>
  <ion-content class="match-container">
    <h6>Match</h6>
    <ion-list can-swipe="true">
      <ion-item lass="item item-avatar" ng-repeat="item in matc.list" ng-click="matc.openMessageModal(item.$id)">
        <div class="swipe-container">
          <div class="img-container">
            <img ng-src="{{item.avatar}}">
            <span class="presence" ng-class="{online: item.isOnline }"></span>
          </div>
          <div class="detail-container">
            <h2>
              {{item.name}}
            </h2>
            <p>Slide left to Unmatch, Tap to Chat</p>
            <!--<p>{{item.email}}</p>-->
            <!--<p><i class="ion-location"></i> {{item.location}}</p>-->
          </div>
        </div>
        <ion-option-button class="button-assertive" ng-click="matc.unmatch(item.$id)">Unmatch</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
