<div class="match-popup">
  <img class="match-img" src="img/match-img.png">

  <div class="row match-container">
    <div class="col col-50 text-right">
      <img ng-src="{{home.profile.avatar}}">
    </div>
    <div class="col col-50 text-left">
      <img ng-src="{{home.currentUser.avatar}}">
    </div>
  </div>
  <p> you and {{home.profile.name}} have liked each other</p>
  <button class="button" ng-click="popupCloseStateChange()">Message</button>
  <button class="button" ng-click="home.closeMatchPopup()">Keep Swiping!</button>
</div>
