<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="main-header">
      <ion-nav-title class="show text-center">
        <img src="img/logo.png" style="margin-top: 5px">
      </ion-nav-title>
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon side-menu-icon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a ui-sref="app.match">
          <img ng-src="img/chat-icon.png">
        </a>
        <a ui-sref="app.profile">
          <img ng-src="{{main.profilePicture.avatar}}">
        </a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title"></h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/profile" class="item-menu">
         <i class="ion-android-person icon-menu icon"></i> Profile
        </ion-item>
        <ion-item menu-close href="#/app/home" class="item-menu">
          <i class="ion-home icon-menu icon"></i> Home
        </ion-item>
        <ion-item menu-close href="#/app/match" class="item-menu">
          <i class="ion-heart icon-menu icon"></i> Matches
        </ion-item>
        <ion-item menu-close href="#/app/story" class="item-menu">
          <i class="ion-android-image icon-menu icon"></i> Story
        </ion-item>
        <ion-item menu-close href="#/app/settings" class="item-menu">
          <i class="ion-gear-b icon-menu icon"></i> Settings
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
