<ion-view>
  <ion-content class="padding main-bg-container">

    <div ng-if="prof.currentUser">

            <!--<span ng-repeat="image in prof.currentUser.images | limitTo:4">-->
                <!--<img ng-src="{{image.source}}" width="150px" height="150px">-->
            <!--</span>-->

      <div class="profile-container">
        <div class="border-bottom">
          <img ng-src="{{prof.currentUser.avatar}}">
          <h2>{{prof.currentUser.name}}, {{prof.currentUser.age}}</h2>
        </div>
          <p>{{prof.currentUser.bio}}</p>
      </div>
</div>
  </ion-content>
</ion-view>
