.main-header {
  box-shadow: 1px 0px 6px 1px #191717;
  .side-menu-icon {
    color: #e4e4e4;
  }
  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 3px;
  }
}
.item-menu.item-complex .item-content {
  background-color: #444444;
  color: #fff;
  font-weight: 500;
  padding-bottom: 30px;
}
.item-menu.item.item-complex {
  border: none !important;
}
.menu.menu-left {
  width: 100%;
  background-color: #444444;
}
.icon-menu.icon {
  font-size: 25px;
  margin-right: 10px;
  border: 2px solid;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50%;
}
.landing {
  background: url("../img/home.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  .facebook-button {
    position: relative;
    top: 500px;
    max-width: 200px;
    margin: 0 auto;
    display: block;
    .big {
      font-size: 20px;
    }
  }
}
td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: -150px;
  width: 300px;
  height: 300px;

  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  border-radius: 6px;
}
td-card .image {
  width: 100%;
}

td-card img {
  height: 295px;
  width: 100%;
  border-radius: 6px;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}
.spinner {
  svg {
    width: 28px;
    height: 28px;
    stroke: #fff;
    fil: #fff;
  }
}

.message {
  padding: 10px;
}
.message-left {
  text-align: left;
}
.message-right {
  text-align: right;
}
.message > img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.message > div {
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}
.message-left > div {
  margin-left: 10px;
  background-color: #e6e5eb;
}
.message-right > div {
  margin-right: 10px;
  background-color: #158ffe;
  color: white;
}
.message > div:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}
.message-left > div:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}
.message-right > div:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}
.message-footer input {
  width: 100%;
  border: 0;
  background-color: #f4f4f4
}
.presence {
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  top: 0;
  height: 10px;
  bottom: 0;
  position: absolute;
  background: #ab9ba9;
  margin: auto;
  right: -3px;
}
.online {
  background: $primary-color;
}
.card-empty-popup {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border: 2px solid gray;
  display: block;
  margin: 80px auto;
  position: relative;
  p {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 30px;
    margin: auto;
    text-align: center;
  }
}
.story-container {
  td-card {
    border: none;
    margin-bottom: 300px;
    margin-top: 40px;
  }
  .td-card {
    border: 3px solid gray;
    border-radius: 5px;
  }
  .item {
    p {
      white-space: normal;
    }
  }
}
.footer-container {
  background: $primary-color !important;
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  background-image: linear-gradient(180deg, $primary-color, $primary-color 50%, transparent 50%) !important;
  .button {
    display: block;
    margin: 0 auto;
    border-color: white;
    background: $primary-color;
  }
}
