.match-popup {
  width: 100%;
  display: inline-block;
  background: url("../img/home-bg.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  margin-top: 44px;
   .match-img {
     margin: 70px auto 40px auto;
     display: block;
   }
  .match-container {
    img {
      border-radius: 50%;
      border: 2px solid $base-color;
      width: 110px;
      height: 110px;
    }
  }
  p {
    font-size: 20px;
    font-family: $font-family;
    color: $base-color;
    width: 80%;
    display: block;
    margin: 40px auto 0 auto;
    line-height: 30px;
    text-align: center;
  }
  button {
    width: 80%;
    display: block;
    color: #a800a2;
    margin: 20px auto 0 auto;
    font-size: 20px;
    text-transform: uppercase;
    font-family: $font-family;
    font-weight: bold;
  }
  button + button {
    margin-bottom: 20px;
  }
}
